@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-color: #101010;
  --background_2: #2020201f;
  --ui-color: #e1e1e1;
  --border-color: #d9d9d9;
  --border-color-2: rgb(117, 117, 117);

  --svg-inverse: invert(0);
  --bg-image-inverse: invert(1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020;
    --foreground: #ffffff;

    --font-color: #ffffff;
    --background_2: #2020201f;
    --ui-color: #2b2b2b;
    --border-color: #3b3b3b;
    --border-color-2: rgb(117, 117, 117);

    --svg-inverse: invert(1);
    --bg-image-inverse: invert(0);
  }
}

html, body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  
  background-image: url('/geometric_pattern_2.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  filter: var(--bg-image-inverse);
}


.my-header {
  background-color: var(--background);
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 10;
  top: 0;
  border-bottom: 1px solid var(--border-color);

  display: inline-flex;
  flex-direction: row-reverse;
  /* @apply w-full max-w-4xl h-20 md:h-24 px-4 md:px-8; */
}

.my-main {
  /* padding-top: 20px; */
  padding-bottom: 20px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  min-height: 100%;
  width: 1000px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}