@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.my-header {
  background-color: aqua;
  width: 1000px;
  height: 80px;
  position: relative;
  top: 0;
  left: 50%;
  right: 50%;
  translate: -50% 0%;
  border-radius: 10px;

  display: inline-flex;
  flex-direction: row-reverse;

}

.my-header p {
  font-size: 300%;
}