.bg-pop-up {
    display: none;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 9%, 0.187);
    backdrop-filter: blur(5px);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.pop-up {
    display: none;
    min-height: 200px;
    max-height: 500px;
    width: 500px;
    background-color: var(--color-background);
    border: 1px dashed var(--border-color-2);
    border-radius: 10px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}