.bg-pop-up {
    /* display: none; */
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 9%, 0.187);
    backdrop-filter: blur(5px);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.pop-up {
    max-height: 600px;
    width: 500px;
    background-color: var(--color-background);
    border: 1px dashed var(--border-color-2);
    border-radius: 10px;
    box-shadow: 0 0px 50px rgba(0, 0, 0, .6);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.header-pop-up {
    height: 45px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    flex-direction: row-reverse;
}

.info-card-datas {
    /* background-color: aliceblue; */
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info-card-data,
.info-card-data-editable {
    /* background-color: brown; */
    width: fit-content;
    max-width: 500px;
    margin-left: auto;
    margin-top: 10px;
}

.info-card-data input {
    width: 200px;
}

.info-card-data select, .info-card-data-editable select {
    width: 200px;
    appearance: none; /* For most browsers */
    -webkit-appearance: none; /* For WebKit browsers */
    -moz-appearance: none; /* For Firefox */
    background-color: var(--color-background);
    flex: 2;
}

.info-card-data-editable select {
    border: 1px solid var(--border-color);
}

.info-card-data-editable input {
    width: 200px;
    border: 1px solid var(--border-color);
}

.submit-button {
    display: block;
    background-color: var(--color-emerald-700);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submit-button:hover {
    background-color: var(--color-emerald-500);
    cursor: pointer;
}