.table-header {
    margin-top: 20px;
    background-color: var(--border-color);
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-header label {
    font-family: 'Courier New', Courier, monospace;
}

.my-table {
    position: relative;
    left: 50%;
    right: 50%;
    translate: -50% 0%;
    /* background-color: var(--background_2); */
    backdrop-filter: blur(3px);
    width: 100%;
    height: 600px;

    display: block;
}

.my-table table {
    width: 100%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

.my-table th {
    color: #fff;             /* Darker text color for contrast */
    font-weight: bold;        /* Make the header text bold */
    padding: 12px 15px;     /* Add some space (padding) inside the cells */
    text-align: center;       /* Align the header text to the left */
    border-bottom: 1px solid var(--border-color);
}

.my-table td {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.my-table th {
    color: var(--font-color);
}

.college:hover {
    cursor: pointer;
    background-color: var(--ui-color);
}

.refresh-display {
    position: absolute;
    background-color: rgba(46, 46, 46, 0.858);

    z-index: 2;
    width: 1000px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;

    backdrop-filter: blur(3px);
    height: fit-content;
    border-bottom: 1px solid var(--border-color);
}

.pagination {
    display: flex;

    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    background-color: var(--color-background);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    width: fit-content;
    height: 30px;
}

.search-div {
    background-color: var(--color-background);
    border-bottom: 1px solid var(--border-color);

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.search-div input {
    background-color: rgb(196, 196, 196);
    padding-left: 18px;
    color: black;
    outline: none;
    height: 35px;
    width: 300px;

    border-radius: 3px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-button {
    width: 35px;
    height: 35px;
    border-radius: 3px;
    background-color: var(--color-emerald-600);
    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button:hover {
    cursor: pointer;
    background-color: var(--color-emerald-500);
}

.search-div select {
    height: 35px;
    margin-right: 10px;
    background-color: rgb(196, 196, 196);
    color: #565656;
    border-radius: 3px;
    outline: none;
    padding-left: 18px;
    padding-right: 18px;
}