.avatar {
    --size: 96px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    overflow: hidden;
    background: #eee;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.avatar:hover {
    cursor: pointer;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.5);
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.avatar svg {
    width: 100%;
    height: 80%;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}