
.out-sf {
    z-index: 999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(122, 122, 122, 0.126);
}

.card-div-sf {
    position: fixed;
    width: 400px;
    min-height: 75px;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px dashed var(--border-color-2);
    border-radius: 5px;
    background-color: var(--background);
    max-width: 300px;
}

.add-filter-header-sf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.select-sf {
    width: 100%;
    max-width: 100px;
    height: 30px;
    background-color: var(--background);
    color: var(--foreground);
    border: 1px solid var(--border-color-2);
    border-radius: 5px;
    padding-left: 5px;
}

.input-sf {
    width: 100%;
    height: 30px;
    background-color: var(--background);
    color: var(--foreground);
    border: 1px solid var(--border-color-2);
    border-radius: 5px;
    padding-left: 5px;
}

.add-filter-sf {
    min-width: 30px;
    width: 30px;
    height: 30px;
    background-color: #4CAF50;
    color: var(--button-foreground);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-content: center;
    justify-items: center;
}

.filter-body-sf {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 300px;
    overflow-x: auto;
}

.filter-item-sf {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--border-color-2);
    border-radius: 15px;
    padding: 0px 10px;
}

.remove-filter-sf {
    min-width: 20px;
    width: 20px;
    height: 20px;
    color: var(--button-foreground);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-content: center;
    justify-items: center;
}